@use "../../scss/abstracts" as *;

.hero {
  display: grid;
  place-items: center;
  gap: get-clamp(3rem, 4.5rem, 23.4375rem, 48rem);

  @include mq(1250px) {
    width: 110%;
    transform: translateX(-5%);

    place-content: center;
    grid-template-columns: auto 34rem auto;
    gap: get-clamp(-2rem, 5rem, 75rem, 90rem);
  }

  &__img-main {
    transform: scale(110%);

    @include mq(1250px) {
      transform: translateY(-17%);
    }
  }

  &__img-secondary {
    transform: translateX(0);
  }
}
