@use "../abstracts/" as *;

@font-face {
  font: {
    family: "Red Hat Display";
    weight: 100 900;
  }
  src: url("../../assets/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

body {
  font: 500 1.125rem/1.625rem "Red Hat Display", sans-serif;
}
