@use "../abstracts/" as *;

@font-face {
  font: {
    family: "Red Hat Display";
    weight: 100 900;
  }
  src: url("assets/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

body {
  font: 500 1.125rem/1.625rem "Red Hat Display", sans-serif;
}

:where(button, h1, h2, h3, h4) {
  font-weight: 900;
}

.btn {
  font-size: 1rem;
  color: $clr-white;

  .blue &__version {
    color: $clr-blue-light;
  }

  .purple &__version {
    color: $clr-purple-light;
  }
}

.top {
  text-align: center;

  &__title {
    font-size: get-clamp(2.5rem, 4rem, 23.4375rem, 40rem);
    line-height: get-clamp(2.75rem, 4rem, 23.475rem, 40rem);
    color: $clr-dark;
  }

  &__desc {
    font-size: get-clamp(1rem, 1.125rem, 23.475rem, 40rem);
    color: $clr-grey;
  }
}

.features__item {
  &::before {
    font-size: 1rem;
    font-weight: 900;
    color: $clr-grey;
  }
}

.first {
  text-align: center;

  &__overline {
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: $clr-blue-dark;
  }

  &__title {
    font-size: get-clamp(2rem, 2.5rem, 23.4375rem, 48rem);
    line-height: get-clamp(2.25rem, 2.75rem, 23.4375rem, 48rem);
    color: $clr-dark;
  }

  &__desc {
    font-size: get-clamp(1rem, 1.125rem, 48rem, 56.25rem);
    color: $clr-grey;
  }
}

.second {
  text-align: center;

  &__title {
    font-size: get-clamp(2rem, 2.5rem, 23.4375rem, 48rem);
    line-height: get-clamp(2.25rem, 2.75rem, 23.4375rem, 48rem);
    color: $clr-white;
  }

  &__desc {
    color: $clr-white;
  }
}
