@use "../../scss/abstracts" as *;

.header {
  display: grid;
  justify-content: center;
  padding-top: get-clamp(3.25rem, 5rem, 48rem, 56.25rem);
  margin-bottom: get-clamp(3.38rem, 6.6rem, 23.4375rem, 56.25rem);
}
