@use "../../scss/abstracts" as *;

.top {
  display: grid;
  justify-items: center;

  &__title {
    max-width: 10ch;
  }

  &__desc {
    max-width: 40ch;
    margin-block: 1.5rem 2rem;
  }

  &__button-container {
    padding-inline: 1.8rem;
  }
}
