@use "../../scss/abstracts" as *;

.line {
  position: absolute;
  inset: 0;
  margin-inline: auto;
  width: 0.0625rem;
  height: 5.25rem;
  background-color: rgba($clr-grey, 0.25);
  transform: translateY(calc(-1.75rem + -100%));
}

.features {
  &__item {
    position: relative;
    margin-top: 8rem;

    &::before {
      content: "0" counter(list-item);
      position: absolute;
      inset: 0 0 auto 0;
      z-index: 1;
      display: grid;
      place-items: center;
      width: 3.5rem;
      aspect-ratio: 1 / 1;
      margin-inline: auto;
      border: 0.0625rem solid rgba($clr-grey, 0.25);
      border-radius: 50%;
      background-color: $clr-white;
      transform: translateY(-50%);
    }
  }
}

.first {
  padding-block: 5.5rem 3rem;

  &__pic-grid {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(2, 1fr);
  }

  &__pic {
    border-radius: 0.5em;
  }

  &__text {
    margin-top: 3.5rem;
  }

  &__title {
    margin-top: 1.5rem;
  }

  &__desc {
    margin-top: 2rem;
  }
}

.second {
  position: relative;
  z-index: -1;
  padding-block: 6.25rem 4rem;
  background: $clr-blue-dark;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url("../../assets/images/image-footer-mobile.jpg") top center /
      cover no-repeat;
    opacity: 0.1;

    @include mq(600px) {
      background-image: url("../../assets/images/image-footer-tablet.jpg");
    }

    @include mq(900px) {
      background-image: url("../../assets/images/image-footer-desktop.jpg");
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__desc {
    margin-block: 1.5rem;
  }
}
